Django>=2.2,<2.3
flattentool
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
jsonref
jsonschema
libcoveocds
ocdskit[perf]
ocdsmerge
ocdsextensionregistry
python-dateutil
requests
sentry-sdk
