attrs==19.1.0
bleach==3.1.0
cached-property==1.5.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
commonmark==0.9.0
contextlib2==0.5.5
Django==2.1.12
et-xmlfile==1.0.1
flattentool==0.8.0
future==0.17.1
idna==2.8
-e git+https://github.com/ICRAR/ijson.git@e4ab60c22c5a836ce28e1da8e82e4f4c22830557#egg=ijson
jdcal==1.4.1
json-merge-patch==0.2
jsonref==0.2
jsonschema==3.0.2
libcoveocds==0.7.1
lxml==4.4.1
ocdsextensionregistry==0.0.13
ocdskit==0.1.0
ocdsmerge==0.5.7
openpyxl==2.6.3
pycparser==2.19
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
rfc3987==1.3.8
schema==0.7.1
six==1.12.0
SQLAlchemy==1.3.8
sqlparse==0.3.0
strict-rfc3339==0.7
urllib3==1.25.3
webencodings==0.5.1
xmltodict==0.12.0
