{% extends 'default/base.html' %}
{# extend this template to include a default upload view using jquery-fileupload plugin #}
{% load static %}
{% load i18n %}

{% block css %}
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{% static "css/jquery.fileupload.css" %}">
<link rel="stylesheet" href="{% static "css/jquery.fileupload-ui.css" %}">
<link rel="stylesheet" href="{% static "css/uploader.css" %}">
{% endblock css %}

{% block body %}
<div class="response-success alert alert-info hidden">
    <b>{% trans "Success!" %}</b> result.zip(<span class="file-size"></span>)
    <a href="javascript:void(0)" class="download" target="_blank">{% trans "Download" %}</a>
</div>
<div class="response-warning alert alert-warning hidden">
    <strong>{% trans "Warnings from the server" %}:</strong>
    <ul></ul>
</div>
<div class="response-fail alert alert-danger hidden">
    <b>{% trans "An error has ocurred!" %}</b>
    {% trans "Please verify that all your files are valid OCDS JSON, and try again in a few minutes." %}
</div>
<div class="panel panel-default info">
  <div class="panel-body">
    {% block info %}{% endblock %}
  </div>
</div>
<form 
    id="fileupload" 
    method="POST" 
    action="/upload/"
    onsubmit="return false;"
    data-accept-file-types="/(\.|\/)json$/i"
    data-files-container=".files"
    data-sequential-uploads="true"
    data-form-data='{"csrfmiddlewaretoken": "{{csrf_token}}"}'
    data-max-number-of-files="{{maxNumOfFiles}}"
    data-max-file-size="{{maxFileSize}}"
    data-perform-action="{{performAction}}"
  >
  <div class="action-extra-params form-inline">{% block extraoptions %}{% endblock %}</div>
  <!-- The container for the uploaded files -->
  <div class="drop-area empty">
    <!-- The file input field used as target for the file upload widget -->
    <input type="file" name="file" id="file" accept=".json" multiple/>
    <span class="file-selector-empty"><label for="file">{% trans "Add a file" %}</label> {% trans "or drag and drop here." %}</span>
    <div class="files hidden">
    </div>
  </div>
  <div class="actions hidden">
    <div class="buttons">
      <div class="btn btn-default fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <label for="file" id="file-selector">{% trans "Add more files" %}</label>
      </div>
      <button type="button" class="btn btn-primary pull-right" id="upload-button" disabled>
        <i class="glyphicon glyphicon-cloud-upload"></i>
        <span>{% trans "Start" %}</span>
    </button>
    </div>
  </div>
</form>
<!-- Processing modal, active when all files has been uploaded and the requested operation is in progress -->
<div id="processing-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>{% trans "Processing operation. Please don't refresh nor close the browser window!" %}</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{% static "js/vendor/jquery.ui.widget.js" %}"></script>
<script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<script src="{% static "js/jquery.iframe-transport.js" %}"></script>
<script src="{% static "js/jquery.fileupload.js" %}"></script>
<script src="{% static "js/jquery.fileupload-process.js" %}"></script>
<script src="{% static "js/jquery.fileupload-validate.js" %}"></script>
<script src="{% static "js/jquery.fileupload-ui.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
{% include "jquery-file-upload/upload.html"%}
{% include "jquery-file-upload/download.html"%}
<script src="{% static "js/utils.js" %}"></script>
<script src="{% static "js/uploader.js" %}"></script>
<script type="text-javascript"></script>
{% endblock scripts %}
