{% extends 'default/base-tool.html' %}
{# extend this template to include a default upload view using jquery-fileupload plugin #}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/jquery.fileupload.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.fileupload-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/uploader.css" %}">
{% endblock css %}

{% block messages %}
{{ block.super }}
    <div class="response-warning file-process-failed alert alert-warning hidden">
        {% trans "We couldn't check that all files were JSON or of the OCDS type requested." %}
        {% trans "You can add more files or remove them, then click on <b>Start</b> again." %}
        {% trans "Files with validation issues will be ignored by default." %}
    </div>
    <div class="response-fail default-error alert alert-danger hidden">
        <b>{% trans "An error has occurred!" %}</b>
        {% trans "Please verify that all your files are valid OCDS JSON, and try again in a few minutes." %}
    </div>
{% endblock messages %}
{% block info_content %}
    {% include "default/snippets/input-options/input_description.html" %}
{% endblock %}
{% block content %}
    {% include "default/snippets/input-options/input_tabs.html" %}
    <div class="action-extra-params form-inline"style="margin-bottom: 10px;">
        {% block extraoptions %}{% endblock %}
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="urls">
            <div class="input-url-container">
                <div class="form-group" id="input_url_0">
                    <label>{% blocktrans trimmed %}
                        Provide the URL to a file:
                        {% endblocktrans %}</label>
                    <div class="input-group">
                        <input type="text" name="input_url_0" class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn btn-danger input-delete"
                                    type="button"
                                    onclick="inputDelete(this)"
                                    disabled="disabled">
                                    x
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="buttons">
            <a class="pull-right" href="#" id="add-url" style="margin-top: 5px;">+{% trans "Add URL" %}</a>
            <button type="submit" class="btn btn-primary" id="url-button" data-perform-action="{{performAction}}">
                {% trans "Start" %}
                <i class="glyphicon glyphicon-play-circle"></i>
            </button>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane active" id="files">
            <div class="form-group">
                <form
                    id="fileupload"
                    method="POST"
                    action="/upload/"
                    onsubmit="return false;"
                    data-accept-file-types="/(\.|\/)json$/i"
                    data-files-container=".files"
                    data-sequential-uploads="true"
                    data-form-data='{"csrfmiddlewaretoken": "{{csrf_token}}"{% block form-options %}{% endblock %}}'
                    data-max-number-of-files="{{maxNumOfFiles}}"
                    data-max-file-size="{{maxFileSize}}"
                    data-perform-action="{{performAction}}"
                  >
                  <!-- The container for the uploaded files -->
                  <div class="drop-area empty">
                    <!-- The file input field used as target for the file upload widget -->
                    <input type="file" name="file" id="file" accept=".json" multiple/>
                    <span class="file-selector-empty"><label for="file">{% trans "Add a file" %}</label> {% trans "or drag and drop here." %}</span>
                    <div class="files hidden">
                    </div>
                  </div>
                  <div class="actions hidden">
                    <div class="buttons">
                      <div class="btn btn-default fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <label for="file" id="file-selector">{% trans "Add more files" %}</label>
                      </div>
                      <button type="submit" class="btn btn-primary pull-right start" id="upload-button" disabled>
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                        <span>{% trans "Start" %}</span>
                    </button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block additional_progress_messages %}
<div class="downloading-status hidden">
    <p>{% trans "Processed " %}<span class="current-files">0</span>{% trans " of " %}<span class="total-files"></span>{% trans " files ..." %}</p>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
<script src="{% static "js/vendor/jquery.ui.widget.js" %}"></script>
<script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<script src="{% static "js/jquery.iframe-transport.js" %}"></script>
<script src="{% static "js/jquery.fileupload.js" %}"></script>
<script src="{% static "js/jquery.fileupload-process.js" %}"></script>
<script src="{% static "js/jquery.fileupload-validate.js" %}"></script>
<script src="{% static "js/jquery.fileupload-ui.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
{% include "jquery-file-upload/upload.html"%}
{% include "jquery-file-upload/download.html"%}
<script src="{% static "js/utils.js" %}"></script>
<script src="{% static "js/url_uploader.js" %}"></script>
<script src="{% static "js/uploader.js" %}"></script>
{% endblock scripts %}
