{% load static %}
<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    {# custom css files here #}
    {% block css %}{% endblock %}
    
    <title>{% block title %}OCDS Web Tools{% endblock %}</title>
  </head>
  <body>
    {% include 'default/logo.html' %}
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand ocp-logo" href="http://open-contracting.org">
            <svg style="">
              <use xlink:href="#ocp-logo" />
            </svg>
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="page-header">
        <h1><a href="/">OCDS Web Tools</a> <small>{% block subtitle %}{% endblock %}</small></h1>
      </div>
      {# page content here #}
      {% block body %}{% endblock %}
    </div>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="https://use.typekit.net/xpw3jps.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    {# additional scripts here #}
    {% block scripts %}{% endblock %}
  </body>
</html>
