{% extends 'default/base-uploader.html' %}
{% load i18n %}files in the box below to combine them into a single package

{% block subtitle %} &gt;&gt; {% trans "Combine Packages" %} {% endblock %}
{% block info %}
<p>{% blocktrans %}Drag and drop exclusively two or more <a href="https://standard.open-contracting.org/latest/en/schema/release_package/" target="_blank">Release Package</a>
    or <a href="https://standard.open-contracting.org/latest/en/schema/record_package/" target="_blank">Record Package</a>
    files in the box below to combine them into a single package.{% endblocktrans %}
{% blocktrans %}You can also click the <strong>Add a file</strong> link below.{% endblocktrans %}</p>
<p>{% blocktrans %}Use the <strong>Published Date</strong> option to set the Published Date in the output package.{% endblocktrans %}
{% blocktrans %}Please select the correct <strong>Package type</strong> before uploading.{% endblocktrans %}</p>
<p>{% blocktrans %}The input files must be JSON files with a single Package each or JSON Array of Packages.{% endblocktrans%}</p>
{% endblock %}
{% block extraoptions %}
{% include "default/snippets/published_date.html" %}
<div class="form-group">
    <label>{% trans "Package type" %}:</label>
    <select class="form-control packageType">
        <option value="release">{% trans "Release Package" %}</option>
        <option value="record">{% trans "Record Package" %}</option>
    </select>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    (function(){
        app.setParams(function(params){
            if ($('.packageType').val() == 'release')
                params['packageType'] = 'release';
            else
                if ($('.packageType').val() == 'record')
                    params['packageType'] = 'record';
            return params;
        });
    })();
    </script>
    {% include "default/snippets/published_date_scripts.html" %}
{% endblock %}
