{% extends 'default/base-uploader.html' %}
{% load i18n %}

{% block subtitle %} &gt;&gt; {% trans "Compile Releases" %} {% endblock %}

{% block form-options %}, "type": "release-package"{% endblock %}

{% block info %}
<p>
    {% blocktrans trimmed %}
        Drag and drop one or more
        <a href="https://standard.open-contracting.org/latest/en/schema/release_package/" target="_blank">release packages</a>
        to create a
        <a href="https://standard.open-contracting.org/latest/en/schema/record_package/" target="_blank">record package</a>
        with compiled releases included.
    {% endblocktrans %}
    {% trans "You can also click the <strong>Add a file</strong> link below." %}
</p>

<p>
    {% trans "Fill in the <strong>Published date</strong> textbox to set <code>publishedDate</code> in the output package." %}
    {% blocktrans trimmed %}
        Check the <strong>Include Versioned Releases</strong> checkbox if you want to add a versioned release to each record.
        Read more about compiled releases and versioned releases in the
        <a href="https://standard.open-contracting.org/latest/en/schema/merging/" target="_blank">OCDS documentation</a>.
    {% endblocktrans %}
</p>
<p>
    {% trans "Check the <strong>Pretty JSON</strong> checkbox to format the output files." %}
    {% trans "By default the output encoding is utf-8, to use another, put in <strong>Encoding</strong> text box." %}
</p>
<p>{% trans "Please verify that your files are release packages before uploading." %}</p>
{% endblock %}

{% block extraoptions %}
{% include "default/snippets/published_date.html" %}
<div class="checkbox">
    <label>
        <input type="checkbox" class="include-versioned"> {% trans "Include Versioned Releases" %}
    </label>
</div>
{% include "default/snippets/optional_arguments.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    (function(){
        app.setParams(function(params){
            if ($('.include-versioned').is(':checked') )
                params['includeVersioned'] = true;
            else
                params['includeVersioned'] = false;
            return params;
        });
    })();
    </script>
    {% include "default/snippets/optional_arguments_scripts.html" %}
    {% include "default/snippets/published_date_scripts.html" %}
{% endblock %}
