{% extends 'default/base-uploader.html' %}
{% load i18n %}

{% block subtitle %} &gt;&gt; {% trans "Compile Releases" %} {% endblock %}

{% block form-options %}, "type": "release-package"{% endblock %}

{% block info_title %}
    {% blocktrans trimmed %}
        Use this tool to create a
        <a href="https://standard.open-contracting.org/latest/en/schema/record_package/" target="_blank">record package</a>
        with compiled releases included from <a href="https://standard.open-contracting.org/latest/en/schema/release_package/" target="_blank">release packages</a>.
    {% endblocktrans %}
{% endblock %}
{% block info_content %}
<p>
    {% trans "Fill in the <strong>Published date</strong> textbox to set <code>publishedDate</code> in the output package." %}
    {% blocktrans trimmed %}
        Check the <strong>Include Versioned Releases</strong> checkbox if you want to add a versioned release to each record.
        Read more about compiled releases and versioned releases in the
        <a href="https://standard.open-contracting.org/latest/en/schema/merging/" target="_blank">OCDS documentation</a>.
    {% endblocktrans %}
</p>
<p>
    {% trans "Please verify that your files are release packages before uploading." %}
</p>
    {{ block.super }}
{% endblock %}

{% block extraoptions %}
{% include "default/snippets/published_date.html" %}
<div class="checkbox">
    <label>
        <input type="checkbox" class="include-versioned"> {% trans "Include Versioned Releases" %}
    </label>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    /* hide send feature description */
    $('.info-send').addClass('hidden');

    (function(){
        toucanApp.setParams(function(params){
            if ($('.include-versioned').is(':checked') )
                params['includeVersioned'] = true;
            else
                params['includeVersioned'] = false;
            return params;
        });
    })();
    </script>
    {% include "default/snippets/published_date_scripts.html" %}
{% endblock %}
