{% extends 'default/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}OCDS Web Tools - Home{% endblock %}
{% block css %}
    <link href="{% static "css/ocdstoucanicons.css"%}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<div class="home row">
    <a href="package-releases/" class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="ok-package-releases"></i>
            </div>
            <div class="panel-footer">
                <span>{% trans "Create Release Packages" %}</span>
            </div>
        </div>
    </a>
        <a href="combine-packages/" class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="ok-combine-package"></i>
            </div>
            <div class="panel-footer">
                <span>{% trans "Combine Packages" %}</span>
            </div>
        </div>
    </a>
    <a href="compile/" class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="ok-compile-releases"></i>
            </div>
            <div class="panel-footer">
                <span>{% trans "Compile Releases" %}</span>
            </div>
        </div>
    </a>
    <a href="upgrade/" class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="ok-upgrade"></i>
            </div>
            <div class="panel-footer">
                <span>{% trans "Upgrade from 1.0 to 1.1" %}</span>
            </div>
        </div>
    </a>
    <a href="mapping-sheet/" class="col-xs-3">
        <div class="panel panel-default">
        <div class="panel-body">
            <i class="ok-schema-spreadsheet"></i>
        </div>
            <div class="panel-footer">
                <span>{% trans "Generate a spreadsheet version of schema" %}</span>
            </div>
        </div>
    </a>
    <a href="to-spreadsheet/" class="col-xs-3">
        <div class="panel panel-default">
        <div class="panel-body">
            <i class="ok-convert-to-spreadsheet"></i>
        </div>
            <div class="panel-footer">
                <span>{% trans "Convert to CSV/Excel" %}</span>
            </div>
        </div>
    </a>
</div>
{% endblock %}
