{% extends 'default/base.html' %}
{% block title %}OCDS Web Tools - Home{% endblock %}
{% block body %}
<div class="home row">
  <div class="home-title col-xs-5">
    OCDS Kit
  </div>
  <div class="col-xs-7">
    <a href="package-releases/" class="btn btn-primary btn-lg btn-block">
      Create Release packages
    </a>
    <a href="merge/" class="btn btn-primary btn-lg btn-block">
      Merge Release Packages
    </a>
    <a href="upgrade/" class="btn btn-primary btn-lg btn-block">
      Upgrade from 1.0 to 1.1
    </a>
    <a href="mapping-sheet/" class="btn btn-primary btn-lg btn-block">
      Generate a spreadsheet version of schema
    </a>
  </div>
</div>
<hr/>
<div class="home row">
  <div class="home-title col-xs-5">
    More tools
  </div>
  <div class="col-xs-7">
    <a href="http://standard.open-contracting.org/review/" 
      class="btn btn-primary btn-lg btn-block"
      target="_blank"
      >
      Data Review Tool
    </a>
    <a href="https://open-contracting.github.io/extension_creator/" 
      class="btn btn-primary btn-lg btn-block"
      target="_blank"
      >
      OCDS Extension Creator
    </a>
  </div>
</div>
{% endblock %}
