{% extends 'default/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}OCDS Web Tools - Home{% endblock %}

{% block css %}
    <link href="{% static "css/ocdstoucanicons.css"%}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="home row">
    <a href="package-releases/" class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="ok-package-releases"></i>
            </div>
            <div class="panel-footer">
                <span>{% trans "Create Release Packages" %}</span>
            </div>
        </div>
    </a>
        <a href="combine-packages/" class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="ok-combine-package"></i>
            </div>
            <div class="panel-footer">
                <span>{% trans "Combine Packages" %}</span>
            </div>
        </div>
    </a>
    <a href="compile/" class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="ok-compile-releases"></i>
            </div>
            <div class="panel-footer">
                <span>{% trans "Compile Releases" %}</span>
            </div>
        </div>
    </a>
    <a href="upgrade/" class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="ok-upgrade"></i>
            </div>
            <div class="panel-footer">
                <span>{% trans "Upgrade from 1.0 to 1.1" %}</span>
            </div>
        </div>
    </a>
    <a href="mapping-sheet/" class="col-xs-3">
        <div class="panel panel-default">
        <div class="panel-body">
            <i class="ok-schema-spreadsheet"></i>
        </div>
            <div class="panel-footer">
                <span>{% trans "Generate a spreadsheet version of schema" %}</span>
            </div>
        </div>
    </a>
    <a href="to-spreadsheet/" class="col-xs-3">
        <div class="panel panel-default">
        <div class="panel-body">
            <i class="ok-convert-to-spreadsheet"></i>
        </div>
            <div class="panel-footer">
                <span>{% trans "Convert to CSV/Excel" %}</span>
            </div>
        </div>
    </a>
    <a href="to-json/" class="col-xs-3">
        <div class="panel panel-default">
        <div class="panel-body">
            <i class="ok-convert-to-json"></i>
        </div>
            <div class="panel-footer">
                <span>{% trans "Convert to JSON" %}</span>
            </div>
        </div>
    </a>
</div>
<div class="panel panel-default info">
<div class="panel-body descriptive">
    <p>
        {% blocktrans trimmed %}
        <a href="https://standard.open-contracting.org/" target="_blank">OCDS</a>
        Toucan offers a set of transformation tools.
        {% endblocktrans %}
    </p>
    <p>
        {% trans "You sometimes need to transform OCDS data before you can use it or publish it." %}
    </p>
    <p>
        {% trans "Toucan allows you to get OCDS data ready for use, in your browser:" %}
    </p>
    <p><ul>
        <li>
            {% blocktrans trimmed %}
            Create a
            <a href="https://standard.open-contracting.org/latest/en/schema/release_package/"
               target="_blank">release package</a> from individual
            <a href="https://standard.open-contracting.org/latest/en/getting_started/releases_and_records/#releases"
               target="_blank">releases</a>
            {% endblocktrans %}
        </li>

        <li>
            {% trans "Combine many small packages into a large package" %}
        </li>

        <li>
            {% blocktrans trimmed %}
            Transform release packages into a
            <a href="https://standard.open-contracting.org/latest/en/schema/record_package/"
               target="_blank">record packages </a> with compiled releases and versioned releases
            {% endblocktrans %}
        </li>

        <li>
            {% trans "Upgrade from an old version of OCDS to a new version" %}
        </li>

        <li>
            {% trans "Convert release packages to/from Excel and CSV" %}
        </li>

        <li>
            {% trans "Generate a spreadsheet version of OCDS schema" %}
        </li>
    </ul></p>
    <p>
        {% blocktrans trimmed %}
        You can upload up to 20 files to each tool, and each file should be less than 20MB.
        Results remain available for 2 days.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
        If you have more or larger files, try using
        <a href="https://ocdskit.readthedocs.io/en/latest/" target="_blank">OCDS Kit</a>
        from the command line. Please report any issues to
        <a href="mailto:data@open-contracting.org" target="_blank">data@open-contracting.org</a>
        or create an issue on <a href="https://github.com/open-contracting/toucan/issues" target="_blank">GitHub</a>.
        {% endblocktrans %}
    </p>
</div>
</div>
{% endblock %}

{% block scripts %}
<script> $('.footer').addClass('home-footer'); </script>
{% endblock %}
