{% extends 'default/base.html' %}
{% load i18n %}

{% block subtitle %} &gt;&gt; {% trans "Generate a spreadsheet version of the schema" %} {% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-warning">
{{ error }}
</div>
{% endif %}
<div class="info panel panel-default">
  <div class="panel-body">
  {% blocktrans %}Select any of the OCDS Schemas in the combobox below to generate its spreadsheet version.{% endblocktrans %}
  </div>
</div>
<form method="POST" class="form-inline">{% csrf_token %}
    <div class="form-group">
        <label for="url">{% trans "Select a schema and version" %}:</label>
        <select name="url" class="form-control">
            {% for version, schemas in versionOptions.items %}
                <optgroup label="{{ version }}">
                {% for label, url in schemas.items %}
                    <option value="{{ url }}">{{ version }}-{{ label }}</li>
                {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Generate" %}</button>
</form>
{% endblock %}
