{% extends 'default/base.html' %}
{% load i18n %}

{% block subtitle %} &gt;&gt; {% trans "Generate a spreadsheet version of the schema" %} {% endblock %}
{% block body %}
    {% if error %}
        <div class="alert alert-warning">
            {{ error }}
        </div>
    {% endif %}
    <div class="info panel panel-default">
        <div class="panel-body">
            <p>
                {% blocktrans trimmed %}
                    Use this feature to generate a spreadsheet version of an OCDS schema. The spreadsheet contains the
                    names, paths and descriptions of all OCDS fields in a table format.
                {% endblocktrans %}
            </p>
            <p>{% trans "The options available are" %}:</p>
            <ul class="list-unstyled">
                <li><strong>{% trans "Select a schema" %}:</strong> {% trans "Use any of the official OCDS Schemas" %}.
                </li>
                <li><strong>{% trans "Provide an URL" %}:</strong> {% trans "Enter an URL to a custom schema" %}.</li>
                <li>
                    <strong>{% trans "Upload a file" %}:</strong>
                    {% trans "Upload a custom schema file from your computer" %}.
                </li>
                <li>
                    <strong>{% trans "Extensions of Release Schema" %}:</strong>
                    {% trans "Generate a patched version of the Release Schema with one or more OCDS extensions" %}.
                </li>
            </ul>
        </div>
    </div>
    {% if form.non_field_errors %}
        <div class="bg-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="tab-content mapping-sheet-form">{% csrf_token %}
        {% if form.type.errors %}
            <div class="text-danger">{{ form.type.errors }}</div>{% endif %}
        <div class="btn-group schema-nav" data-toggle="buttons">
            <label class="btn btn-default {% if not form.type.value or form.type.value == 'select' %}active{% endif %}">
                <input type="radio" name="type" id="select-schema" autocomplete="off" value="select"
                       {% if not form.type.value or form.type.value == 'select' %}checked{% endif %}/>
                {% trans "Select a schema" %}
            </label>
            <label class="btn btn-default {% if form.type.value == 'url' %}active{% endif %}">
                <input type="radio" name="type" id="schema-url" value="url" autocomplete="off"
                       {% if form.type.value == 'url' %}checked{% endif %}>
                {% trans "Provide an URL" %}
            </label>
            <label class="btn btn-default {% if form.type.value == 'file' %}active{% endif %}">
                <input type="radio" name="type" id="schema-file" value="file" autocomplete="off"
                       {% if form.type.value == 'file' %}checked{% endif %}>
                {% trans "Upload a file" %}
            </label>
            <label class="btn btn-default {% if form.type.value == 'extension' %}active{% endif %}">
                <input type="radio" name="type" id="extension-urls" value="extension" autocomplete="off"
                       {% if form.type.value == 'extension' %}checked{% endif %}>
                {% trans "Extensions of Release Schema" %}
            </label>
        </div>
        <div role="tabpanel"
             class="panel-collapse collapse {% if not form.type.value or form.type.value == 'select' %}in{% endif %}"
             id="select-schema-fields">
            <div class="form-group  {% if form.select_url.errors %}has-error{% endif %}">
                <label for="url">{% trans "Select a schema and version" %}:</label>
                <select name="select_url" class="form-control">
                    {% for version, schemas in versionOptions.items %}
                        <optgroup label="{{ version }}">
                            {% for label, url in schemas.items %}
                                <option value="{{ url }}">{{ version }}-{{ label }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                {% if form.select_url.errors %}
                    <div class="help-block">{{ form.select_url.errors }}</div>{% endif %}
            </div>
        </div>
        <div role="tabpanel" class="panel-collapse collapse {% if form.type.value == 'url' %}in{% endif %}"
             id="schema-url-fields">
            <div class="form-group  {% if form.custom_url.errors %}has-error{% endif %}">
                <label for="schema-url">{% trans "Provide the URL to a custom schema below" %}:</label>
                <input type="text" name="custom_url" id="schema-url" class="form-control"/>
                {% if form.custom_url.errors %}
                    <div class="help-block">{{ form.custom_url.errors }}</div>{% endif %}
            </div>
        </div>
        <div role="tabpanel" class="panel-collapse collapse {% if form.type.value == 'file' %}in{% endif %}"
             id="schema-file-fields">
            <div class="form-group  {% if form.custom_file.errors %}has-error{% endif %}">
                <label for="schema-file">{% trans "Upload a file" %}:</label>
                <input type="file" name="custom_file" id="schema-file" class="form-control"/>
                {% if form.custom_file.errors %}
                    <div class="help-block">{{ form.custom_file.errors }}</div>{% endif %}
            </div>
        </div>
        <div role="tabpanel" class="panel-collapse collapse {% if form.type.value == 'extension' %}in{% endif %}"
             id="extension-urls-fields">
            <p>{% blocktrans trimmed %}
                Please provide one or more URLs to the <code>extension.json</code> file for each OCDS Extension you want
                to use.
            {% endblocktrans %}</p>
            <div class="extension-url-container">
                {% for field in form.get_extension_fields %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <div class="input-group">
                            <input type="text" name="{{ field.html_name }}" id="{{ field.auto_id }}"
                                   class="form-control" value="{{ field.value }}"/>
                            <span class="input-group-btn">
                                    <button class="btn btn-danger input-delete"
                                            type="button"
                                            onclick="inputDelete(this)"
                                            {# if there is a single element #}
                                            {% if forloop.first and forloop.last %}disabled{% endif %}
                                    >
                                        x
                                    </button>
                                </span>
                        </div>
                        {% if field.errors %}
                            <div class="help-block">{{ field.errors }}</div>{% endif %}
                    </div>
                {% endfor %}
            </div>
            <a class="pull-right" href="#" id="add-url">+{% trans "Add URL" %}</a>
        </div>
        <hr/>
        <button type="submit" class="btn btn-primary">{% trans "Generate" %}</button>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        $('#select-schema').on('change', function () {
            if ($(this).is(':checked')) {
                $('#select-schema-fields').collapse('show');
                $('#schema-url-fields').collapse('hide');
                $('#schema-file-fields').collapse('hide');
                $('#extension-urls-fields').collapse('hide');
            }
        });

        $('#schema-url').on('change', function () {
            if ($(this).is(':checked')) {
                $('#select-schema-fields').collapse('hide');
                $('#schema-url-fields').collapse('show');
                $('#schema-file-fields').collapse('hide');
                $('#extension-urls-fields').collapse('hide');
            }
        });

        $('#schema-file').on('change', function () {
            if ($(this).is(':checked')) {
                $('#select-schema-fields').collapse('hide');
                $('#schema-url-fields').collapse('hide');
                $('#schema-file-fields').collapse('show');
                $('#extension-urls-fields').collapse('hide');
            }
        });

        $('#extension-urls').on('change', function () {
            if ($(this).is(':checked')) {
                $('#select-schema-fields').collapse('hide');
                $('#schema-url-fields').collapse('hide');
                $('#schema-file-fields').collapse('hide');
                $('#extension-urls-fields').collapse('show');
            }
        });

        $('#add-url').click(function () {
            var numInputs = $('.extension-url-container').children().length;
            $('.extension-url-container .btn.btn-danger').attr('disabled', false);
            $('.extension-url-container').append('<div class="form-group">' +
                '<div class="input-group">' +
                '<input type="text" class="form-control" name="extension_url_' + numInputs + '" id="id_' + numInputs + '"/>' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-danger input-delete" onclick="inputDelete(this)" type="button">x</button>' +
                '</span>' +
                '</div>' +
                '</div>')
        });

        function inputDelete(button) {
            $(button).parents('.form-group').remove();
            if ($('.extension-url-container .btn.input-delete').length < 2) {
                $('.extension-url-container .btn.input-delete').attr('disabled', true);
            }
        }
    </script>
{% endblock scripts %}
