{% extends 'default/base-uploader.html' %}
{% load static %}
{% load i18n %}
{% load send_options_tag %}

{% block subtitle %} &gt;&gt; {% trans "Create Release Packages" %}{% endblock %}

{% block form-options %}, "type": "release release-array"{% endblock %}

{% block send-options %}{% show_options "compile split upgrade convert" %}{% endblock %}

{% block info_title %}
    {% blocktrans trimmed %}
        Use this tool to create a <a href="https://standard.open-contracting.org/latest/en/schema/release_package/" target="_blank">release package</a>
        from <a href="https://standard.open-contracting.org/latest/en/getting_started/releases_and_records/#releases" target="_blank">releases</a>.
    {% endblocktrans %}
{% endblock info_title %}
{% block info_content %}
<p>
    {% trans "Fill in the <strong>Published date</strong> textbox to set <code>publishedDate</code> in the output package." %}
</p>
<p>
    {% trans "Check the <strong>Pretty JSON</strong> checkbox to get a pretty print on the output files." %}
    {% trans "By default the output encoding is utf-8, you can change it in <strong>Encoding</strong> text box." %}
</p>
<p>
    {% trans "Each input file must be a JSON file containing either one release or an array of releases." %}
</p>
    {{ block.super }}
{% endblock info_content %}

{% block extraoptions %}
{% include "default/snippets/optional_arguments.html" %}
{% include "default/snippets/published_date.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/optional_arguments.js" %}"></script>
    <script src="{% static "js/published_date.js" %}"></script>
{% endblock %}
