{% extends 'default/base-uploader.html' %}
{% load i18n %}

{% block subtitle %} &gt;&gt; {% trans "Split Packages" %} {% endblock %}

{% block form-options %}, "type": "package package-array"{% endblock %}

{% block info %}
<p>
    {% blocktrans trimmed %}
        Drag and drop one or more
        <a href="https://standard.open-contracting.org/latest/en/schema/release_package/" target="_blank">release packages</a>
        or <a href="https://standard.open-contracting.org/latest/en/schema/record_package/" target="_blank">record packages</a>
        to split in smaller packages for each.
    {% endblocktrans %}
    {% trans "You can also click the <strong>Add a file</strong> link below." %}
</p>
<p>
    {% trans "To change the <code>publishedDate</code> for the output package checked the <strong>check box</strong>" %}
    {% trans "on the side of <strong>Published date</strong> and fill in the <strong>Published date</strong> textbox." %}
</p>
<p>
    {% trans "Select the correct <strong>Package type</strong> option before uploading." %}
</p>
<p>
    {% trans "Put the number of elements (records or releases) per package in <strong>Package size</strong> box before start process." %}
</p>
<p>
    {% trans "Check the <strong>Pretty JSON</strong> checkbox to get a pretty print on the output files." %}
    {% trans "By default the output encoding is utf-8, you can change it in <strong>Encoding</strong> text box." %}
</p>
<p>
    {% trans "Each input file must be a JSON file containing either a single package or an array of packages." %}
</p>
{% endblock %}

{% block extraoptions %}
<div class="form-group pull-right">
    <div class="checkbox">
        <input type="checkbox" id="change-published-date">
    </div>
</div>
{% include "default/snippets/published_date.html" %}
<div class="form-group">
    <label>{% trans "Package type:" %}</label>
    <select class="form-control packageType">
        <option value="release">{% trans "Release Package" %}</option>
        <option value="record">{% trans "Record Package" %}</option>
	</select>
</div>
<div class="form-group">
<label>{% trans "Package size:" %}</label>
<input type="number" id="splitSize" min="1" value="1" max="99" class="form-control">
</div>
{% include "default/snippets/optional_arguments.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    (function(){
        app.setParams(function(params){
            if ($('.packageType').val() == 'release')
                params['packageType'] = 'release';
            else if ($('.packageType').val() == 'record')
				params['packageType'] = 'record';

            if ($('#change-published-date').is(":checked"))
                params['changePublishedDate'] = 'true';
            else
                params['changePublishedDate'] = 'false';

			params['splitSize'] = $('#splitSize').val()
            return params;
        });
    })();
    $(document).ready(function(){
	    function check_split_size(event) {
            is_valid = false
            isValidSplitSize = splitSize.checkValidity();

            if ($('#splitSize').val() == '')
                is_valid = false;
            else if (isValidSplitSize)
                is_valid = true;
            else
                is_valid = false;

            if (is_valid) {
                $('.response-warning.action-failed').addClass('hidden');
                $('#upload-button').removeAttr('disabled');
                return;
            }
            $('.response-warning.action-failed').html('{% trans "An invalid split size was entered. Change it to a valid number." %}');
            $('.response-warning.action-failed').removeClass('hidden');
            $('#upload-button').attr('disabled', true);
        };
        $("#splitSize").keyup(check_split_size);
        $(document).on("appHookEnableUploadButton", check_split_size);
        /*
        // the code prevents messages after user press start button
        // but the control fails if the content is different than expected
        $('#upload-button').click(function (event) {
            if ($('.response-fail').hasClass('hidden'))
                $("#splitSize").unbind('keyup');
        });
        */
    });
    </script>
    {% include "default/snippets/optional_arguments_scripts.html" %}
    {% include "default/snippets/published_date_scripts.html" %}
{% endblock %}
