{% extends 'default/base-tool.html' %}
{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static "css/uploader.css"%}" rel="stylesheet"/>
{% endblock %}

{% block subtitle %} &gt;&gt; {% trans "Convert to CSV/Excel" %} {% endblock %}

{% block messages %}
    <div class="response-success alert alert-info hidden">
        <b>{% trans "Success!" %}</b>
        <ul>
            <li>
                result.xlsx (<span class="file-size xlsx"></span>)
                <a class="download xlsx" href="#" role="button">
                    {% trans "Download" %}
                </a>
                <span>  /  </span>
                <a class="file save-drive-link xlsx" href="#" role="button" data-class="xlsx">
                    {% trans "Save to Google Drive" %}
                </a>
                <span class="file open-drive-link xlsx hidden">
                    {% trans "File saved on Google Drive" %}&nbsp;<a target="_blank" role="button"> {% trans "Open" %}</a>
                </span>
            </li>
            <li>
                result-csv.zip (<span class="file-size csv"></span>)
                <a class="download csv" href="#" role="button">
                    {% trans "Download" %}
                </a>
                <span>  /  </span>
                <a class="file save-drive-link csv" href="#" role="button" data-class="csv">
                    {% trans "Save to Google Drive" %}
                </a>
                <span class="file open-drive-link csv hidden">
                    {% trans "File saved on Google Drive" %}&nbsp;<a target="_blank" role="button"> {% trans "Open" %}</a>
                </span>
            </li>
        </ul>
    </div>
    <div class="response-fail alert alert-danger hidden">
        <b>{% trans "An error has occurred!" %}</b>
        {% trans "Please verify that the file is valid OCDS JSON, and try again in a few minutes." %}
    </div>
    <div class="response-fail-empty alert alert-danger hidden">
    </div>
{% endblock messages %}
{% block info_title %}
    {% blocktrans trimmed %}
            Use this page to convert a <a href="https://standard.open-contracting.org/latest/en/schema/release_package/"
            target="_blank">release package</a> to its CSV and Excel version.
        {% endblocktrans %}
{% endblock %}
{% block info_content %}
    {% include "default/snippets/input-options/input_description.html" %}
{% endblock %}

{% block content %}
    {% include "default/snippets/input-options/input_tabs.html" %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="urls">
            <div class="input-url-container">
                <div class="form-group" id="input_url_0">
                    <label>{% blocktrans trimmed %}
                        Provide the URL to a file:
                        {% endblocktrans %}</label>
                    <input type="text" name="input_url_0" class="form-control"/>
                </div>
            </div>
            <div class="buttons">
            <button type="submit" class="btn btn-primary" id="url-button-ts" data-perform-action="/to-spreadsheet/go/">
                {% trans "Start" %}
                <i class="glyphicon glyphicon-play-circle"></i>
            </button>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane active" id="files">
            <div class="form-group">
                <form
                    id="fileupload"
                    method="POST"
                    action="/upload/"
                    data-form-data='{"csrfmiddlewaretoken": "{{csrf_token}}", "type": "release-package"}'
                    data-auto-upload="false"
                    data-replace-file-input="false"
                    accept="text/json"
                    data-accept-file-types="/\.json$/i"
                    >
                    <div class="drop-area empty single">
                        <span class="file-selector-empty">
                            <input type="file" name="file" id="file" accept=".json" multiple/>
                            <span class="drop-area-msg">
                                <label for="file">{% trans "Add a file" %}</label>
                                {% trans "or drag and drop here." %}
                            </span>
                        </span>
                    </div>
                    <button type="button" class="btn btn-primary pull-right hidden" id="upload-button">
                      <i class="glyphicon glyphicon-cloud-upload"></i>
                      <span>{% trans "Start" %}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/vendor/jquery.ui.widget.js" %}"></script>
    <script src="{% static "js/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "js/jquery.fileupload.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>
    <script type="text/javascript">
        /* fileupload widget, config options are attached to form */
        $('#fileupload').fileupload();

        $('#fileupload').bind('fileuploadadd', function(e, data){
            $('.drop-area').removeClass('empty');
            $('.drop-area-msg').html('<strong>{% trans "Added:" %}</strong> ' {# not very nice to do this here #}
                + data.files[0].name
                + ' <small>('
                + utils.readableFileSize(data.files[0].size)
                + ')<small>');
            $('#upload-button').removeClass('hidden');

            $('#fileupload').fileupload('disable');

            /* click upload button behaviour */
            $('#upload-button').click(function(){
                $('#fileupload').fileupload('option', 'dropZone', undefined);
                data
                    .submit()
                    .done(function(){
                        $('#processing-modal').modal('show');
                        $.ajax('/to-spreadsheet/go/', { 'dataType': 'json' })
                            .done(function(data){
                                $('.response-success .download.xlsx').attr('href', data.xlsx.url);
                                $('.response-success .download.csv').attr('href', data.csv.url);
                                $('.response-success .file-size.xlsx').html(utils.readableFileSize(data.xlsx.size));
                                $('.response-success .file-size.csv').html(utils.readableFileSize(data.csv.size));
                                $('.response-success .save-drive-link.xlsx').attr('data-url', data.xlsx.driveUrl);
                                $('.response-success .save-drive-link.csv').attr('data-url', data.csv.driveUrl);
                                $('.response-success').removeClass('hidden');
                                })
                            .fail(function(){
                                $('.response-fail').removeClass('hidden');
                                })
                            .always(function(){
                                $('#processing-modal').modal('hide');
                                });
                    })
                    .fail(function(){
                        $('.response-fail').removeClass('hidden');
                        $('#processing-modal').modal('hide');
                    });
            });
        });

        /* click url button behaviour */
        $("#url-button-ts").click(function(){
            $('.response-warning').addClass('hidden');
            $('#processing-modal').modal('show');
            $('.response-fail').addClass('hidden');
            $('.form-group').removeClass('has-error');
            $('.help-block').remove();

            $.ajax('/upload-url/', {'dataType': 'json', type: 'POST',
            'data': $('.input-url-container .form-group .form-control').serialize() +
            '&type=' + JSON.parse($('#fileupload').attr('data-form-data')).type,
            headers: {'X-CSRFToken': JSON.parse($('#fileupload').attr('data-form-data')).csrfmiddlewaretoken}})
                .done(function (data) {
                    $.ajax('/to-spreadsheet/go/', { 'dataType': 'json' })
                        .done(function (data) {
                            $('.response-success .download.xlsx').attr('href', data.xlsx.url);
                            $('.response-success .download.csv').attr('href', data.csv.url);
                            $('.response-success .file-size.xlsx').html(utils.readableFileSize(data.xlsx.size));
                            $('.response-success .file-size.csv').html(utils.readableFileSize(data.csv.size));
                            $('.response-success .save-drive-link.xlsx').attr('data-url', data.xlsx.driveUrl);
                            $('.response-success .save-drive-link.csv').attr('data-url', data.csv.driveUrl);
                            $('.response-success').removeClass('hidden');
                        })
                        .fail(function () {
                            $('.response-fail').removeClass('hidden');
                        })
                        .always(function () {
                            $('#processing-modal').modal('hide');
                        });
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    $.each(JSON.parse(jqXHR.responseText), function(i, item) {
                        slt = "#" + item.id;
                        msg = item.message;
                        $(slt).addClass('has-error');
                        $(slt).append('<div class="help-block">' + msg + '</div>');
                    });
                    $('.response-fail').removeClass('hidden');
                    $('#processing-modal').modal('hide');
                });
        });

        /* clear URL input text */
        $('#input_url_0 input').val('');

        /* prevent browser's default action when dragging and dropping files */
        $(document).bind('drop dragover', function (e) {
            e.preventDefault();
        });
    </script>
    {% include "default/snippets/url_uploader_scripts.html" %}
{% endblock %}
