{% extends 'default/base-single-uploader.html' %}
{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static "themes/jstree/default/style.min.css"%}" rel="stylesheet"/>
{% endblock %}

{% block subtitle %} &gt;&gt; {% trans "Convert to CSV/Excel" %} {% endblock %}

{% block messages %}
    <div class="response-success alert alert-info hidden">
        <b>{% trans "Success!" %}</b>
        <ul>
            <li class="xlsx hidden">
                result.xlsx (<span class="file-size-xlsx"></span>)
                <a href="javascript:void(0)" class="download-xlsx">{% trans "Download" %}</a>
                <span>  /  </span>
                <a class="file save-drive-link xlsx" href="#" role="button" data-class="xlsx">
                    {% trans "Save to Google Drive" %}
                </a>
                <span class="file open-drive-link xlsx hidden">
                    {% trans "File saved on Google Drive" %}&nbsp;<a target="_blank" role="button"> {% trans "Open" %}</a>
                </span>
            </li>
            <li class="csv hidden">
                result-csv.zip (<span class="file-size-csv"></span>)
                <a href="javascript:void(0)" class="download-csv">{% trans "Download" %}</a>
                <span>  /  </span>
                <a class="file save-drive-link csv" href="#" role="button" data-class="csv">
                    {% trans "Save to Google Drive" %}
                </a>
                <span class="file open-drive-link csv hidden">
                    {% trans "File saved on Google Drive" %}&nbsp;<a target="_blank" role="button"> {% trans "Open" %}</a>
                </span>
            </li>
        </ul>
    </div>
    <div class="response-fail alert alert-danger hidden">
        <b>{% trans "An error has occurred!" %}</b>
        {% trans "Please verify that the file is valid OCDS JSON, and try again in a few minutes." %}
        <span class="msg"></span>
    </div>
{% endblock messages %}

{% block info_title %}
    {% blocktrans trimmed %}
            Use this page to convert a <a href="https://standard.open-contracting.org/latest/en/schema/release_package/"
            target="_blank">release package</a> to its CSV and Excel version.
        {% endblocktrans %}
{% endblock %}

{% block info_content %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% with accept=".json" type="release-package" options=True%}
        {{ block.super }}
        {% include "default/snippets/unflatten-options-modal.html" %}
    {% endwith%}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/vendor/jstree.min.js" %}"></script>
    <script src="{% static "js/jquery.typewatch.js" %}"></script>
    <script src="{% static "js/unflatten-options.js" %}"></script>
    <script type="text/javascript">toucanApp.unflattenOptions.setFilterFieldEmptyText('{% trans "No filter" %}')</script>
{% endblock %}
