{% extends 'default/base-uploader.html' %}
{% load static %}
{% load i18n %}
{% load send_options_tag %}

{% block subtitle %} &gt;&gt; {% trans "Upgrade from 1.0 to 1.1" %} {% endblock %}

{% block form-options %}, "type": "package release"{% endblock %}

{% block send-options %}{% show_options "compile split convert" %}{% endblock %}

{% block info_title %}
    {% blocktrans trimmed %}
        Use this tool to update
        <a href="https://standard.open-contracting.org/latest/en/getting_started/releases_and_records/#releases" target="_blank">releases</a>,
        <a href="https://standard.open-contracting.org/latest/en/schema/release_package/" target="_blank">release packages</a>, or
        <a href="https://standard.open-contracting.org/latest/en/schema/record_package/" target="_blank">record packages</a>
        to OCDS 1.1.
    {% endblocktrans %}
{% endblock %}
</p>
{% block info_content %}
<p>
    {% trans "Check the <strong>Pretty JSON</strong> checkbox to get a pretty print on the output files." %}
    {% trans "By default the output encoding is utf-8, you can change it in <strong>Encoding</strong> text box." %}
</p>
    {{ block.super }}
{% endblock %}

{% block extraoptions %}
{% include "default/snippets/optional_arguments.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/optional_arguments.js" %}"></script>
{% endblock %}
