{% extends 'default/base-uploader.html' %}
{% load i18n %}

{% block subtitle %} &gt;&gt; {% trans "Upgrade from 1.0 to 1.1" %} {% endblock %}

{% block form-options %}, "type": "package release"{% endblock %}

{% block info %}
<p>
    {% blocktrans trimmed %}
        Use this tool to update
        <a href="https://standard.open-contracting.org/latest/en/getting_started/releases_and_records/#releases" target="_blank">releases</a>,
        <a href="https://standard.open-contracting.org/latest/en/schema/release_package/" target="_blank">release packages</a>, or
        <a href="https://standard.open-contracting.org/latest/en/schema/record_package/" target="_blank">record packages</a>
        to OCDS 1.1.
    {% endblocktrans %}
</p>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('#upgrade').remove();
        $('.response-success .form-send').removeClass('hidden');
    </script>
{% endblock %}
