.navbar-brand.ocp-logo{
    max-width: 330px;
}
.navbar-brand.ocp-logo svg
{
  height: 40px; 
  margin-top: -7px;
}
.home .panel
{
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.home .panel .panel-body
{
    color: #fff;
    text-align: center;
    font-size: 100px;
    height: 150px;
    background-color: #9BAF00;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.home .panel .panel-footer
{
    text-align: center;
    color: #9BAF00;
    font-weight: bold;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    height: 4em;
    display: table;
    width: 100%
}
.home .panel .panel-footer span
{
    display: table-cell;
    vertical-align: middle;
}
.home a:hover, 
.home a:focus
{
    text-decoration: none;
}
.info.panel .panel-body:before{
    content: '\e085';
    font-family: "Glyphicons Halflings";
    font-size: 2em;
    float: left;
    margin-right: 10px;
    color: #9BAF00; 
}
.schema-nav {
    margin-bottom: 10px;
}
.mapping-sheet-form .errorlist {
    list-style-type: none;
    padding: 0;
}
.extension-url-container .input-group {
    padding-top: 3px;
}