@font-face {
  font-family: 'ocdstoucan';
  src:  url('../fonts/ocdstoucan.eot?b5hkoq');
  src:  url('../fonts/ocdstoucan.eot?b5hkoq#iefix') format('embedded-opentype'),
    url('../fonts/ocdstoucan.ttf?b5hkoq') format('truetype'),
    url('../fonts/ocdstoucan.woff?b5hkoq') format('woff'),
    url('../fonts/ocdstoucan.svg?b5hkoq#ocdstoucan') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ok-"], [class*=" ok-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ocdstoucan' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ok-compile-releases:before {
  content: "\e900";
}
.ok-convert-to-spreadsheet:before {
  content: "\e901";
}
.ok-data-review:before {
  content: "\e902";
}
.ok-schema-spreadsheet:before {
  content: "\e903";
}
.ok-extension-creator:before {
  content: "\e904";
}
.ok-package-records:before {
  content: "\e905";
}
.ok-package-releases:before {
  content: "\e906";
}
.ok-upgrade:before {
  content: "\e907";
}
