#files
{
  opacity: 1;
}
.form-head
{
	width: 100%;
}
#files .actions 
{
  width: 20px;
}
#files .name
{
  width: 35%;
}
#files .progress
{
  margin-bottom: 10px;
}
.form-head .buttons
{
  width: 210px;
}
.progress-bar-container
{
  padding-left: 20px;
}
.progress-bar-container .progress
{
  margin-bottom: 0;
  margin-top: 7px;
}
.drop-area
{
  position: relative;
  margin-top: 5px;
  min-height: 250px;
  padding: 5px 5px 20px 5px;
  border: 2px dashed #555;
  background-color: rgba(155, 175, 0, 0.6);
}
.drop-area .help
{
  width: 100%;
  color: #555;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
.drop-area .table
{
  color: #333;
}
