.files
{
    width: 100%;
}
.drop-area .template-download,
.drop-area .template-upload
{
    font-size: .7em;
    margin-bottom: 5px;
}
.template-upload table,
.template-download table
{
    width: 100%;
}
.template-upload .actions,
.template-download .actions
{
    width: 30px;
}
.template-upload .progress,
.template-download .progress
{
    height: 3px;
    margin-bottom: 0
}
.template-download .progress
{
    margin: 9px 0;
}
.template-upload .size,
.template-download .size
{
    font-size: .7em;
}
.template-upload .icon,
.template-download .icon
{
    color: #aaa;
    font-size: 3em;
}
.template-upload .name,
.template-download .name,
.template-upload table,
.template-download table
{
  margin-bottom: 5px;
}
.buttons
{
  width: 100%;
  background-color: #e4eff7;
  border-top: 2px dashed #ccc;
  padding: 5px 10px;
}
.action-extra-params{
    width: 100%;
    padding: 5px 2px;
    display: inline-block;
    border-top: 2px dashed #ccc;
    background-color: #e1f2f5;
    margin-bottom: 5px;
}
.action-extra-params:empty{
  display: none;
}
.drop-area
{
  position: relative;
  margin: 10px 0 15px 0;
  min-height: 250px;
  padding: 10px 5px 20px 5px;
  background-color: rgb(246, 249, 219);
  border: 2px dashed rgba(155, 175, 0, 0.7);
  box-shadow: 0 0 0 10px rgba(246, 249, 219);
  text-align: center;
  font-size: 1.2em;
}
.drop-area.single
{
    padding-top: 100px;
}
.drop-area.empty
{
  background-color: rgba(155, 175, 0, 0.7);
  padding-top: 100px;
  box-shadow: 0 0 0 10px rgba(155, 175, 0, 0.7);
  border: 2px dashed #fff;
  color: white;
}
.drop-area input
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.drop-area label
{
    cursor: pointer;
    border-bottom: dashed 2px;
}

.drop-area.empty label
{
    border-bottom: dashed 2px #fff;
}

.fileinput-button label
{
    margin: 0;
}

.drop-area label:hover
{
    border-bottom: dotted 2px;
}

.drop-area.empty label:hover
{
    border-bottom: dotted 2px #fff;
}
#publishedDate {
    width: 220px;
}
.options-link {
    padding: 0 5px;
}
.options-link:hover, .options-link:active {
    text-decoration: None;
}